@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";

* {
    box-sizing: border-box !important;
}

:root {
    --main-color: #27ae61;
}

.modal-backdrop.show {
    opacity: .5 !important;
}

body {
    background-color: #f1f5f8;
}

/* NavBar*/
.navbar {
    background-color: var(--main-color);
}

.navbar a {
    color: white !important;
    font-weight: 600;
}
/* NavBar*/
.tabs {
    width: fit-content;
    margin-left: auto !important;
}

.tabs li {
    background-color: #323232;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    transition: .2s;
    display: block;
}

.tabs li.active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    border: 10px solid;
    border-color: var(--main-color) transparent transparent transparent;
}

.tabs li.active {
    background-color: var(--main-color);
}

/* Book */
.book {
    box-shadow: #1311201a 0px 2px 10px 0px;
}

.image {
    overflow: hidden;
}

.image img {
    transition: .3s;
    box-shadow: #1311201a 0px 2px 10px 0px
}
.book-img:hover {
    transform: rotate(3.5deg) scale(1.2);
}
@media (max-width: 768px) {
    .image {
        margin: auto !important;
        text-align: center;
    }

    .image img {
        width: 50% !important;
    }
}

.btn-success {
    background-color: var(--main-color) !important;
    border: 0 !important;
    color: white !important;
}
.btn-outline-success:hover {
    background-color: var(--main-color) !important;
    border-color: transparent !important;
}
.book-name {
    color: var(--main-color);
}

.dashboard-links li  {
    margin-bottom: 15px;
}
.dashboard-links li a {
    background-color: #323232;
    text-decoration: none !important;
    padding: 10px 15px;
    color: white;
    position: relative;
}

.dashboard-links li a.active {
    background-color: var(--main-color) !important;
    color: white !important;
}

.dashboard-links li a.active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    border: 10px solid;
    border-color: var(--main-color) transparent transparent transparent;
}


